<launch>
	<arg name="main_camera_name" default="main"/>
	<arg name="main_camera_num" default="0"/>

	<arg name="left_camera_name" default="left"/>
	<arg name="left_camera_num" default="1"/>

	<arg name="right_camera_name" default="right"/>
	<arg name="right_camera_num" default="2"/>



	<group ns="$(arg left_camera_name)">
		 <node name="camera_image" pkg="camera_image" type="camera_image" args="$(arg left_camera_name)">
			<param name="camera_num" value="$(arg left_camera_num)"/>
			<param name="frequency" value="30"/>
			<param name="debug" value="0"/>
			<param name="calibration" value="0"/>
			<param name="sizeup" value="0"/>
		</node>

		<node name="lane_detection" pkg="lane_detection" type="lane_detection" args="$(arg left_camera_name)" output="screen">
			<param name="debug" value="0"/>
			<param name="web_cam" value="1"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="1"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>
			
			<!--학교-->
			<param name="y_hmin" value="9"/>
			<param name="y_hmax" value="41"/>
			<param name="y_smin" value="26"/>
			<param name="y_smax" value="255"/>
			<param name="y_vmin" value="21"/>
			<param name="y_vmax" value="255"/>
			<param name="w_hmin" value="0"/>
			<param name="w_hmax" value="179"/>
			<param name="w_smin" value="0"/>
			<param name="w_smax" value="9"/>
			<param name="w_vmin" value="231"/>
			<param name="w_vmax" value="255"/>

			<!--주행장용-->
			<!--<param name="y_hmin" value="17"/>
			<param name="y_hmax" value="22"/>
			<param name="y_smin" value="52"/>
			<param name="y_smax" value="151"/>
			<param name="y_vmin" value="0"/>
			<param name="y_vmax" value="180"/>
			<param name="w_hmin" value="0"/>0
			<param name="w_hmax" value="180"/>
			<param name="w_smin" value="0"/>
			<param name="w_smax" value="44"/>
			<param name="w_vmin" value="182"/>
			<param name="w_vmax" value="255"/>-->
		</node>


		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="$(arg left_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
			 <!--<param name="cal_path" value="/home/whiteherb/catkin_ws/src/autonomous2018-ssu/vision/cal_distance/data"/> -->
			<param name="cal_path" value="/home/seuleee/catkin_ws/src/autonomous2018-ssu/vision/cal_distance/data"/>
		</node>

		<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="$(arg left_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
		</node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="$(arg left_camera_name)"/>
		</include>

	</group>

	<group ns="$(arg right_camera_name)">
		 <node name="camera_image" pkg="camera_image" type="camera_image" args="$(arg right_camera_name)">
			<param name="camera_num" value="$(arg right_camera_num)"/>
			<param name="frequency" value="30"/>
			<param name="debug" value="0"/>
			<param name="calibration" value="0"/>
			<param name="sizeup" value="0"/>
		</node>

		<node name="lane_detection" pkg="lane_detection" type="lane_detection" args="$(arg right_camera_name)" output="screen">
			<param name="debug" value="0"/>
			<param name="web_cam" value="1"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="1"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>

			<param name="y_hmin" value="9"/>
			<param name="y_hmax" value="41"/>
			<param name="y_smin" value="26"/>
			<param name="y_smax" value="255"/>
			<param name="y_vmin" value="21"/>
			<param name="y_vmax" value="255"/>
			<param name="w_hmin" value="0"/>
			<param name="w_hmax" value="179"/>
			<param name="w_smin" value="0"/>
			<param name="w_smax" value="9"/>
			<param name="w_vmin" value="231"/>
			<param name="w_vmax" value="255"/>

			<!--주행장용-->
			<!--<param name="y_hmin" value="9"/>
			<param name="y_hmin" value="9"/>
			<param name="y_hmax" value="27"/>
			<param name="y_smin" value="52"/>
			<param name="y_smax" value="146"/>
			<param name="y_vmin" value="0"/>
			<param name="y_vmax" value="180"/>
			<param name="w_hmin" value="5"/>
			<param name="w_hmax" value="255"/>
			<param name="w_smin" value="0"/>
			<param name="w_smax" value="60"/>
			<param name="w_vmin" value="195"/>
			<param name="w_vmax" value="255"/>-->

			<!--주행장용-->
			<!--<param name="y_hmin" value="17"/>
			<param name="y_hmax" value="22"/>
			<param name="y_smin" value="52"/>
			<param name="y_smax" value="151"/>
			<param name="y_vmin" value="0"/>
			<param name="y_vmax" value="180"/>
			<param name="w_hmin" value="0"/>
			<param name="w_hmax" value="180"/>
			<param name="w_smin" value="0"/>
			<param name="w_smax" value="44"/>
			<param name="w_vmin" value="182"/>
			<param name="w_vmax" value="255"/>-->
		</node>


		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="$(arg right_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
			 <!--<param name="cal_path" value="/home/whiteherb/catkin_ws/src/autonomous2018-ssu/vision/cal_distance/data"/> -->
			<param name="cal_path" value="/home/seuleee/catkin_ws/src/autonomous2018-ssu/vision/cal_distance/data"/>
		</node>

		<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="$(arg right_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
		</node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="$(arg right_camera_name)"/>
		</include>

	</group>

	<include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch"></include>


	<!-- <group ns="$(arg main_camera_name)">
		 <node name="camera_image" pkg="camera_image" type="camera_image" args="$(arg main_camera_name)">
			<param name="camera_num" value="$(arg main_camera_num)"/>
			<param name="frequency" value="30"/>
			<param name="debug" value="0"/>
			<param name="calibration" value="0"/>
			<param name="sizeup" value="0"/>
		</node>

		<node name="lane_detection" pkg="lane_detection" type="lane_detection" args="$(arg main_camera_name)" output="screen">
			<param name="debug" value="0"/>
			<param name="web_cam" value="1"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="0"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>
		</node>


		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="$(arg main_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
			<param name="cal_path" value="/home/whiteherb/catkin_ws/src/autonomous2018-ssu/vision/cal_distance/data"/>
		</node>

		<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="$(arg main_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
		</node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="$(arg main_camera_name)"/>
		</include>

	</group> -->
</launch>
